.wrapper {
  display: flex;
}
.side-bar {
  background-color: #253141;
  width: 300px;
  height: 100vh;
}

.side-bar-header {
  height: 100px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-name a{
  font-size: 16px;
  color: #FAFAFA;
  margin: 20px;
  text-decoration: none;
}

.create-room{
  font-size: 10px;
}

.create-room a{
  color: deepskyblue;
  padding: 14px;
  border: 1px solid lightblue;
  text-decoration: none;
}

.rooms {
  background-color: #2f3e51;
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll;
}

.room-name a{
  color: white;
  text-decoration: none;
}

.room-name{
  margin: 20px 20px 40px 20px;
}

.chat-room{
  margin: 45px;
}

.chat {
  background-color: #ffffff;
  width: calc(100% - 300px);
}

.chat-header {
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}



.chat-name{
  margin-top: 36px;
  font-size: 24px;
  color: #333;
}

.exit-chat{
  margin-top: 40px;
}

.exit-chat a{
  text-decoration: none;
  border: 1px solid darkred;
  color: darkred;
  padding: 20px;

}

.messages {
  background-color: #FAFAFA;
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0;
  overflow: scroll;
}

.message{
  padding: 10px 0;
}

.upper-message{
  display: flex;
}

.messeage-user{
  font-size: 16px;
  color: #434A54;
}

.message-date{
  color: #999;
  font-size: 12px;
  padding-left: 10px;
}

.lower-message{
  margin-top: 10px;
}

.message-content{
  font-size: 14px;
  color: #434A54;
  margin-bottom: 40px;
}

.form {
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px;
  display: flex;
}
.form-input{
  width: 100%;
  background-color: white;
  display: flex;
}

.form-message{
  border: none;
  height: 50px;
  width: 100%;
  padding-left: 10px;
}
.form-submit{
  margin-left: 15px;
  height: 50px;
  background-color: #38AEF0;
  border: none;
  font-size: 16px;
  color: white;
  padding: 0 20px;
}

.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}

